// Custom Bootstrap SCSS
$primary: #7520ff;

@import "../node_modules/bootstrap/scss/bootstrap";
.img-placeholder {
  color: var(--bs-secondary-text-subtle);
  background-color: var(--bs-secondary);
  aspect-ratio: 16 / 9;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
}


@each $name, $color in $theme-colors {
  .callout-#{$name} {
    border-left: 5px solid var(--bs-#{$name}-border-subtle);
    background-color: var(--bs-#{$name}-bg-subtle);
    color: var(--bs-#{$name}-text-subtle);
    padding: $spacer;
    margin-bottom: $spacer * .5;
  }
}
::selection {
  background-color: var(--bs-info-border-subtle);
  color: var(--bs-info-text-subtle);
}